PORT=3000
SERVER_IP=http://localhost
API_KEY=apisupercool
WHATSAPP_URL=http://localhost:2785
SECRET=magicsupersecret

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=ivy
DATABASE_USERNAME=openwa
DATABASE_PASSWORD=openwa